In [53]:
import pandas as pd
pd.set_option("display.max_columns", None)
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Import data (flights january, november, december and flight_test)

In [54]:
df_1 = pd.read_csv("data/flights_2018_jan_raw.csv")
df_11_12 = pd.read_csv("data/flights_2018_nov_dec_raw.csv")
df_07 = pd.read_csv("data/flights_2019_july_raw.csv")
df_08 = pd.read_csv("data/flights_2019_aug_raw.csv")
df_test = pd.read_csv("data/flights_test_raw.csv")

/Users/louisrossi/opt/anaconda3/envs/ml/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (25) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [55]:
df = pd.concat([df_1, df_11_12, df_07, df_08]).reset_index().drop(columns=["index"])

In [56]:
df.head(2)

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2018-01-01,DL,DL_CODESHARE,DL,3468,9E,N292PQ,3468,15380,TVC,"Traverse City, MI",11433,DTW,"Detroit, MI",615,611.0,-4.0,26.0,637.0,712.0,9.0,738,721.0,-17.0,0.0,NaN,0.0,N,83.0,70.0,35.0,1.0,207.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-01-01,DL,DL_CODESHARE,DL,3470,9E,N309PQ,3470,13871,OMA,"Omaha, NE",11433,DTW,"Detroit, MI",815,902.0,47.0,38.0,940.0,1208.0,11.0,1121,1219.0,58.0,0.0,NaN,0.0,N,126.0,137.0,88.0,1.0,651.0,47.0,0.0,11.0,0.0,0.0,NaN,NaN,NaN,NaN

### NA Values fixing

In [57]:
# make DF with delay columns for referencing
df_delays = pd.DataFrame()
df_delays = df[["carrier_delay","weather_delay","nas_delay","security_delay","late_aircraft_delay","arr_delay"]]

In [58]:
# check null value percentage and drop those over 80%
df.isnull().sum().sort_values(ascending=False)*100/len(df)

no_name                100.000000
first_dep_time          99.281312
longest_add_gtime       99.281312
total_add_gtime         99.281312
cancellation_code       98.697855
late_aircraft_delay     80.569735
security_delay          80.569735
nas_delay               80.569735
weather_delay           80.569735
carrier_delay           80.569735
arr_delay                1.558952
actual_elapsed_time      1.552876
air_time                 1.552876
taxi_in                  1.331531
wheels_on                1.331260
arr_time                 1.331230
taxi_out                 1.291647
wheels_off               1.291377
dep_delay                1.250771
dep_time                 1.235642
tail_num                 0.213976
crs_elapsed_time         0.000030
diverted                 0.000000
flights                  0.000000
distance                 0.000000
dup                      0.000000
fl_date                  0.000000
cancelled                0.000000
mkt_unique_carrier       0.000000
crs_dep_time             0.000000
dest_city_name           0.000000
dest                     0.000000
dest_airport_id          0.000000
origin_city_name         0.000000
origin                   0.000000
origin_airport_id        0.000000
op_carrier_fl_num        0.000000
op_unique_carrier        0.000000
mkt_carrier_fl_num       0.000000
mkt_carrier              0.000000
branded_code_share       0.000000
crs_arr_time             0.000000
dtype: float64

In [59]:
# Can drop delay columns because arr_delay is the sum of them
df = df.drop(columns = ["no_name","total_add_gtime",
                        "first_dep_time",
                        "longest_add_gtime",
                        "cancellation_code",
                        "late_aircraft_delay",
                        "security_delay",
                        "nas_delay",
                        "weather_delay",
                        "carrier_delay",
                        "tail_num"])

In [60]:
# fill the remaining NA values
df['dep_time'] = df['dep_time'].fillna(df['dep_time'].mean())
df['dep_delay'] = df['dep_delay'].fillna(df['dep_delay'].mean())
df['taxi_out'] = df['taxi_out'].fillna(df['taxi_out'].mean())
df['wheels_off'] = df['wheels_off'].fillna(df['wheels_off'].mean())
df['wheels_on'] = df['wheels_on'].fillna(df['wheels_off'].mean())
df['taxi_in'] = df['taxi_in'].fillna(df['taxi_in'].mean())
df['arr_time'] = df['arr_time'].fillna(df['arr_time'].mean())
df['arr_delay'] = df['arr_delay'].fillna(df['arr_delay'].mean())
df['actual_elapsed_time'] = df['actual_elapsed_time'].fillna(df['actual_elapsed_time'].mean())
df['crs_elapsed_time'] = df['crs_elapsed_time'].fillna(df['crs_elapsed_time'].mean())
df['air_time'] = df['air_time'].fillna(df['air_time'].mean())

In [61]:
# renaming mkt_unique_carrier with their full airline name for plotting
# will change to numerical dummies later for model creation
df.groupby(by="mkt_unique_carrier").count()

,fl_date,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance
mkt_unique_carrier,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
AA,862080,862080,862080,862080,862080,862080,862080,862080,862080,862080,862080,862080,862080,862080,862080,862080,862080,862080,862080,862080,862080,862080,862080,862080,862080,862080,862080,862080,862080,862080
AS,179048,179048,179048,179048,179048,179048,179048,179048,179048,179048,179048,179048,179048,179048,179048,179048,179048,179048,179048,179048,179048,179048,179048,179048,179048,179048,179048,179048,179048,179048
B6,124380,124380,124380,124380,124380,124380,124380,124380,124380,124380,124380,124380,124380,124380,124380,124380,124380,124380,124380,124380,124380,124380,124380,124380,124380,124380,124380,124380,124380,124380
DL,724858,724858,724858,724858,724858,724858,724858,724858,724858,724858,724858,724858,724858,724858,724858,724858,724858,724858,724858,724858,724858,724858,724858,724858,724858,724858,724858,724858,724858,724858
F9,54361,54361,54361,54361,54361,54361,54361,54361,54361,54361,54361,54361,54361,54361,54361,54361,54361,54361,54361,54361,54361,54361,54361,54361,54361,54361,54361,54361,54361,54361
G4,42568,42568,42568,42568,42568,42568,42568,42568,42568,42568,42568,42568,42568,42568,42568,42568,42568,42568,42568,42568,42568,42568,42568,42568,42568,42568,42568,42568,42568,42568
HA,38386,38386,38386,38386,38386,38386,38386,38386,38386,38386,38386,38386,38386,38386,38386,38386,38386,38386,38386,38386,38386,38386,38386,38386,38386,38386,38386,38386,38386,38386
NK,80947,80947,80947,80947,80947,80947,80947,80947,80947,80947,80947,80947,80947,80947,80947,80947,80947,80947,80947,80947,80947,80947,80947,80947,80947,80947,80947,80947,80947,80947
UA,644061,644061,644061,644061,644061,644061,644061,644061,644061,644061,644061,644061,644061,644061,644061,644061,644061,644061,644061,644061,644061,644061,644061,644061,644061,644061,644061,644061,644061,644061
VX,5720,5720,5720,5720,5720,5720,5720,5720,5720,5720,5720,5720,5720,5720,5720,5720,5720,5720,5720,5720,5720,5720,5720,5720,5720,5720,5720,5720,5720,5720
WN,568260,568260,568260,568260,568260,568260,568260,568260,568260,568260,568260,568260,568260,568260,568260,568260,568260,568260,568260,568260,568260,568260,568260,568260,568260,568260,568260,568260,568260,568260

## Mapping airport/airline names

In [62]:
# Mapping file for airport names
import json
with open('airport_names_dict.txt') as f: # my map
    data = f.read()
airport_names_dict = json.loads(data)

In [63]:
# Adding new column with full airport names
df["airport_names"] = df["origin"]
df["airport_names"] = df['airport_names'].map(airport_names_dict)

In [64]:
# Mapping file for airline names
import json
with open('airline_names_dict.txt') as f: # my map
    data2 = f.read()
airline_names_dict = json.loads(data2)

In [65]:
# Adding new column with full airline names
df["airline_names"] = df["mkt_carrier"]
df["airline_names"] = df['airline_names'].map(airline_names_dict)

## save files to csv - filesizes each ~900mb

In [66]:
df.shape

(3324669, 33)

In [70]:
flights_2019_july_CLEAN = df[(df['fl_date'] > '2019-07-01') & (df['fl_date'] <= '2019-07-31')]
flights_2019_aug_CLEAN = df[(df['fl_date'] > '2019-08-01') & (df['fl_date'] <= '2019-08-31')]
flights_2019_jan_CLEAN = df[(df['fl_date'] > '2018-01-01') & (df['fl_date'] <= '2018-01-31')]
flights_2019_nov_CLEAN = df[(df['fl_date'] > '2018-11-01') & (df['fl_date'] <= '2018-11-30')]
flights_2019_dec_CLEAN = df[(df['fl_date'] > '2018-12-01') & (df['fl_date'] <= '2018-12-31')]

In [71]:
print(flights_2019_july_CLEAN.shape)
print(flights_2019_aug_CLEAN.shape)
print(flights_2019_nov_CLEAN.shape)
print(flights_2019_dec_CLEAN.shape)
print(flights_2019_jan_CLEAN.shape)

(695238, 33)
(693078, 33)
(617345, 33)
(632306, 33)
(582096, 33)

In [72]:
df.to_csv("data/flights_2019_july_CLEAN.csv") # summer months for weather checks
df.to_csv("data/flights_2019_aug_CLEAN.csv")
df.to_csv("data/flights_2019_jan_CLEAN.csv") # winter months for modeling
df.to_csv("data/flights_2019_nov_CLEAN.csv")
df.to_csv("data/flights_2019_dec_CLEAN.csv")