## Hypothesis Testing Assignment

In [1]:
#Importing necessary packages
import pandas as pd
import numpy as np
# package with hypothesis tests
import scipy.stats as st

### Data

You can download the data from [**here**](https://drive.google.com/file/d/19b9lHlkixZhs8yka8zV0QFieao66dUcY/view?usp=sharing). The data contains results of all NBA games from seasons 2013/2014 to 2015/2016.

In [64]:
df = pd.read_csv("nba_games_2013_2015.csv")

In [65]:
df.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22015,1610612750,MIN,Minnesota Timberwolves,21501226,2016-04-13,MIN vs. NOP,W,240,144,...,0.826,5,38,43,41,14,8,13,20,35.0
1,22015,1610612749,MIL,Milwaukee Bucks,21501225,2016-04-13,MIL vs. IND,L,240,92,...,0.846,7,36,43,23,8,3,15,15,-5.0
2,22015,1610612738,BOS,Boston Celtics,21501217,2016-04-13,BOS vs. MIA,W,240,98,...,0.864,10,29,39,20,7,3,7,20,10.0
3,22015,1610612747,LAL,Los Angeles Lakers,21501228,2016-04-13,LAL vs. UTA,W,239,101,...,0.867,8,39,47,19,6,3,13,17,5.0
4,22015,1610612739,CLE,Cleveland Cavaliers,21501220,2016-04-13,CLE vs. DET,L,265,110,...,0.733,8,35,43,21,4,7,10,23,-2.0

--------------
### Task 1 - DONE
Split the data into **3** separate dataframes for each NBA season!

In [18]:
df["SEASON_ID"].value_counts()

22013    2460
22015    2460
22014    2460
Name: SEASON_ID, dtype: int64

In [66]:
season_22013 = df[df["SEASON_ID"] == 22013]
season_22014 = df[df["SEASON_ID"] == 22014]
season_22015 = df[df["SEASON_ID"] == 22015]

---------------
### Task 2 - DONE
Test the hypothesis that the offensive productions stats of the Cleveland Cavaliers and Golden State Warriors (the teams that met in the finals that year) were from the same distribution in the 2015/2016 season.

Offensive production refers to two variables: **PTS (Points)** and **FG_PCT (Field Goal Percentage)**. We will need to do two separate hypothesis tests, one for each variable.

In [81]:
season_22015["TEAM_NAME"].value_counts().head(5)

Detroit Pistons    82
New York Knicks    82
Utah Jazz          82
Chicago Bulls      82
Milwaukee Bucks    82
Name: TEAM_NAME, dtype: int64

In [82]:
c_cavaliers = season_22015[season_22015["TEAM_NAME"].str.contains("Cleveland")]
g_warriors = season_22015[season_22015["TEAM_NAME"].str.contains("Golden")]

In [99]:
from scipy import stats

t_value,p_value=stats.ttest_ind(c_cavaliers["PTS"],g_warriors["PTS"])

print('Test statistic is %f'%float("{:.6f}".format(t_value)))
print('alpha =',alpha)
print('p-value for two tailed test is %f'%p_value)

alpha = 0.05

if p_value<=alpha:

    print('reject null hypothesis')
else:

    print('accept null hypothesis')

Test statistic is -5.973921
alpha = 0.05
p-value for two tailed test is 0.000000
reject null hypothesis

In [98]:
from scipy import stats

t_value,p_value=stats.ttest_ind(c_cavaliers["FG_PCT"],g_warriors["FG_PCT"])

print('Test statistic is %f'%float("{:.6f}".format(t_value)))
print('alpha =',alpha)
print('p-value for two tailed test is %f'%p_value)

alpha = 0.05

if p_value<=alpha:

    print('reject null hypothesis')
else:

    print('accept null hypothesis')

Test statistic is -3.131953
alpha = 0.05
p-value for two tailed test is 0.002061
reject null hypothesis

-----------------
### Task 3
Test the hypothesis that the number of points (PTS) scored by Cleveland Cavaliers changed significantly after the head coach changed in the 2015/2016 season.

- **Coach Blatt was fired on 24th of Jan, 2016**. 

Use the data from seasons 2014/2015 and 2015/2016 - those are years when Cleveland was coached by Blatt. 

**We have two possible solutions to try here:**
- Take the same amount of games from before and after and try t-test.
- Take all the games from before and after and look for the right test to compare two samples with different sizes. (You will need to go through the scipy documentation or google to figure out what kind of test is required.)

In [118]:
# make cavaliers DF
cavaliers_df = df[df["TEAM_NAME"].str.contains("Cleveland")]
cavaliers_df.head(2)

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
4,22015,1610612739,CLE,Cleveland Cavaliers,21501220,2016-04-13,CLE vs. DET,L,265,110,...,0.733,8,35,43,21,4,7,10,23,-2.0
40,22015,1610612739,CLE,Cleveland Cavaliers,21501203,2016-04-11,CLE vs. ATL,W,240,109,...,0.900,9,38,47,17,9,4,15,14,15.0

In [119]:
# FIRED JAN 24 2016
# FIND THAT GAME ID
cavaliers_df[cavaliers_df["GAME_DATE"] > "2016-01-24"].sort_values("GAME_DATE", ascending=True).head(2) # worked?

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
1129,22015,1610612739,CLE,Cleveland Cavaliers,21500667,2016-01-25,CLE vs. MIN,W,239,114,...,0.650,12,31,43,30,7,3,15,18,7.0
1083,22015,1610612739,CLE,Cleveland Cavaliers,21500684,2016-01-27,CLE vs. PHX,W,239,115,...,0.875,10,27,37,34,12,3,13,17,22.0

In [120]:
# make two dataframes, PRE and POST fired.
# hired_coach = cavaliers_df[cavaliers_df["GAME_ID"] < ]
pre_fired_coach = cavaliers_df[cavaliers_df["GAME_DATE"] < "2016-01-24"]
post_fired_coach = cavaliers_df[cavaliers_df["GAME_DATE"] > "2016-01-24"]

In [123]:
pre_fired_coach.head(2)

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
1143,22015,1610612739,CLE,Cleveland Cavaliers,21500659,2016-01-23,CLE vs. CHI,L,241,83,...,0.409,16,32,48,17,5,5,4,18,-13.0
1176,22015,1610612739,CLE,Cleveland Cavaliers,21500640,2016-01-21,CLE vs. LAC,W,239,115,...,0.750,14,33,47,29,5,2,13,31,13.0

In [124]:
post_fired_coach.head(2)

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
4,22015,1610612739,CLE,Cleveland Cavaliers,21501220,2016-04-13,CLE vs. DET,L,265,110,...,0.733,8,35,43,21,4,7,10,23,-2.0
40,22015,1610612739,CLE,Cleveland Cavaliers,21501203,2016-04-11,CLE vs. ATL,W,240,109,...,0.900,9,38,47,17,9,4,15,14,15.0

In [125]:
from scipy import stats

t_value,p_value=stats.ttest_ind(pre_fired_coach["PTS"],post_fired_coach["PTS"])

print('Test statistic is %f'%float("{:.6f}".format(t_value)))
print('alpha =',alpha)
print('p-value for two tailed test is %f'%p_value)

alpha = 0.05

if p_value<=alpha:

    print('reject null hypothesis')
else:

    print('accept null hypothesis')

Test statistic is -3.436421
alpha = 0.05
p-value for two tailed test is 0.000693
reject null hypothesis

----------------


### Task 4
Download [**the similar dataset**](https://drive.google.com/file/d/1jY57bAOZp9y83b4W2PAoSH1uFARaxxls/view?usp=sharing) with scores from playoff games in 2016.

In [127]:
nba_playoffs = pd.read_csv("nba_playoff_games_2016.csv")

------------
### Task 5
Test the hypothesis that **number of blocks (BLK)** are from the same distribution in both the NBA playoffs and in the NBA regular season for 2015/2016 season for the **Toronto Raptors**. 

- We will be working with two samples with different sizes again.

In [128]:
nba_playoffs.keys()

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'PTS', 'FGM', 'FGA', 'FG_PCT',
       'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB',
       'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PLUS_MINUS'],
      dtype='object')

In [136]:
nba_raptors_playoffs = nba_playoffs[nba_playoffs["TEAM_NAME"].str.contains("Toronto")]
nba_raptors_regular = df[df["TEAM_NAME"].str.contains("Toronto")]

In [143]:
from scipy import stats

t_value,p_value=stats.ttest_ind(nba_raptors_playoffs["BLK"],nba_raptors_regular["BLK"])

print('Test statistic is %f'%float("{:.6f}".format(t_value)))
print('alpha =',alpha)
print('p-value for two tailed test is %f'%p_value)

alpha = 0.05

if p_value<=alpha:

    print('reject null hypothesis')
else:

    print('accept null hypothesis, they did the same, roughly')

Test statistic is -1.824184
alpha = 0.05
p-value for two tailed test is 0.069255
accept null hypothesis, they did the same, roughly


-----------------
### Task 6
Test the hypothesis that the number of points (PTS) scored by Cleveland Cavaliers is equally distributed for all 3 seasons. 

- In this case, we need a hypothesis test that compares more than 2 distributions at the same. (You will need to go through the scipy documentation or google to figure out what kind of test is required.)

In [144]:
c_cavaliers_13 = season_22013[season_22013["TEAM_NAME"].str.contains("Cleveland")]
c_cavaliers_14 = season_22014[season_22014["TEAM_NAME"].str.contains("Cleveland")]
c_cavaliers_15 = season_22015[season_22015["TEAM_NAME"].str.contains("Cleveland")]

In [147]:
from scipy.stats import f_oneway # ANOVA - WTF ONE LINE?
f_oneway(c_cavaliers_13["PTS"], c_cavaliers_14["PTS"], c_cavaliers_15["PTS"])

F_onewayResult(statistic=5.9200250318080885, pvalue=0.003087727119983984)

In [154]:
# or
import scipy.stats as stats
# stats f_oneway functions takes the groups as input and returns ANOVA F and p value
fvalue, pvalue = stats.f_oneway(c_cavaliers_13["PTS"], c_cavaliers_14["PTS"], c_cavaliers_15["PTS"])
print(fvalue, pvalue)

5.9200250318080885 0.003087727119983984

#### Follow Up
**Between which seasons can we see the significant difference?**

+ Unfortunatelly, this is not the output of an ANOVA test and further tests are needed to be run.
+ Note: Lebron James came back to the Cleveland Caveliers prior to season 2014/2015. We can use this fact to interpret our results correctly.

In [153]:
# LEARN TO PLOT THIS DURING SPARE TIME