In [1]:
import numpy as np
import pandas as pd

In [17]:
df = pd.DataFrame({
        'one': pd.Series(np.random.randn(3), index=['a', 'b', 'c']),
        'two': pd.Series(np.random.randn(4), index=['a', 'b', 'c', 'd']),
        'three': pd.Series(np.random.randn(3), index=['b', 'c', 'd'])})
df2 = df.copy()
df2

        one       two     three
a  1.724442  0.410542       NaN
b -0.677063  0.471986  2.289164
c  0.117173  0.532241 -0.917590
d       NaN  0.466081 -1.283519

In [18]:
df.gt(df2) # GREATER EQUAL Get Greater than of dataframe and other, element-wise (binary operator gt).

     one    two  three
a  False  False  False
b  False  False  False
c  False  False  False
d  False  False  False

In [5]:
df.ne(df) # NOT EQUAL https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.ne.html

     one    two  three
a  False  False   True
b  False  False  False
c  False  False  False
d   True  False  False

In [6]:
(df>0).all()

one      False
two      False
three    False
dtype: bool

In [7]:
(df>0).any()

one      True
two      True
three    True
dtype: bool

In [9]:
pd.Series([True]).bool()

True

In [10]:
pd.DataFrame([[True]]).bool()

True

In [11]:
pd.Series(['foo', 'bar', 'baz']) == 'foo'

0     True
1    False
2    False
dtype: bool

In [12]:
pd.Series(['foo', 'bar', 'baz']) == pd.Index(['foo', 'bar', 'qux']) # error if != lengths

0     True
1     True
2    False
dtype: bool

In [13]:
df + df == df * 2

     one   two  three
a   True  True  False
b   True  True   True
c   True  True   True
d  False  True   True

In [14]:
(df + df).equals(df * 2)

True

In [15]:
df.mean(0)

one     -0.623757
two     -0.765711
three    0.169642
dtype: float64

In [16]:
df.mean(1)

a   -1.068338
b   -0.106848
c   -0.425928
d   -0.345093
dtype: float64

In [19]:
series = pd.Series(np.random.randn(1000))
series[::2]=np.nan
series.describe()

count    500.000000
mean      -0.026485
std        1.011664
min       -2.981433
25%       -0.686679
50%       -0.060758
75%        0.631845
max        3.181042
dtype: float64

In [28]:
frame = pd.DataFrame(np.random.randn(1000, 5),
                     columns=['a', 'b', 'c', 'd', 'e'])
frame

            a         b         c         d         e
0   -1.165082 -0.408222 -0.202802 -0.168699  0.360832
1   -0.144481 -1.653598  0.218251 -0.779103  0.753544
2    0.267855  0.035050 -0.210539 -0.992735  0.418958
3    0.985018  0.832077  1.148228  0.197758  0.212629
4    0.237173 -0.668216 -0.147108  0.293518  0.366091
..        ...       ...       ...       ...       ...
995 -0.780551  2.052407  0.311900  0.125289  1.677974
996 -0.327535 -0.522963 -0.582354  0.538960  1.403996
997  0.747421  0.499457 -0.694603 -1.698925  0.999492
998 -0.540277  1.309324  0.282331 -0.596422  0.249804
999 -0.645121  0.796114 -0.906230  0.494678  0.608491

[1000 rows x 5 columns]

In [29]:
frame.iloc[::2]=np.nan # every second row = nan
frame.describe()

                a           b           c           d           e
count  500.000000  500.000000  500.000000  500.000000  500.000000
mean    -0.098251    0.063775    0.040624    0.055028    0.052491
std      1.045080    0.978319    0.993728    1.032961    1.044180
min     -2.869049   -3.024092   -3.131364   -3.248123   -2.944493
25%     -0.837183   -0.551080   -0.601579   -0.643563   -0.615810
50%     -0.085958    0.053611    0.004012    0.024059   -0.013435
75%      0.586137    0.727379    0.691481    0.747612    0.795616
max      3.012375    2.910159    2.586754    3.324198    3.198228

In [30]:
s = pd.Series(['a', 'a', 'b', 'b', 'a', 'a', np.nan, 'c', 'd', 'a'])
s.describe()

count     9
unique    4
top       a
freq      5
dtype: object