In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([1,3,5, np.nan, 6,8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.762986 -0.032819 -0.843698 -0.056877
2013-01-02 -1.166804  1.024411 -0.758624 -0.553318
2013-01-03 -1.888310  0.385771  0.801572 -0.766462
2013-01-04 -1.102667  0.724858 -0.651263 -1.089503
2013-01-05 -0.104056  0.492396  0.083914 -0.145084
2013-01-06  1.123612  1.698617 -0.352294 -1.087770

In [19]:
df2_dict = {'A': 1.0,
            'B': pd.Timestamp('20130102'),
            'C': pd.Series(1, index=list(range(4)), dtype='float32'),
            'D': np.array([3] * 4, dtype='int32'),
            'E': pd.Categorical(["test", "train", "test", "train"]),
            'F': 'foo'}
df2 = pd.DataFrame(df2_dict.values())
df2

                                                   0
0                                                  1
1                                2013-01-02 00:00:00
2  0    1.0
1    1.0
2    1.0
3    1.0
dtype: flo...
3                                       [3, 3, 3, 3]
4  [test, train, test, train]
Categories (2, obje...
5                                                foo

In [27]:
df3 = pd.DataFrame({'A': 1.0,
            'B': pd.Timestamp('20130102'),
            'C': pd.Series(1, index=list(range(4)), dtype='float32'),
            'D': np.array([3] * 4, dtype='int32'),
            'E': pd.Categorical(["test", "train", "test", "train"]),
            'F': 'foo'})
df3

TypeError: Cannot interpret '<attribute 'dtype' of 'numpy.generic' objects>' as a data type

In [22]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.650202  0.715539 -0.286732 -0.616502
std    1.045172  0.596743  0.631167  0.448936
min   -1.888310 -0.032819 -0.843698 -1.089503
25%   -1.150770  0.412427 -0.731784 -1.007443
50%   -0.932826  0.608627 -0.501779 -0.659890
75%   -0.268788  0.949523 -0.025138 -0.247143
max    1.123612  1.698617  0.801572 -0.056877

In [23]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-01 -0.762986 -0.032819 -0.843698 -0.056877
2013-01-03 -1.888310  0.385771  0.801572 -0.766462
2013-01-05 -0.104056  0.492396  0.083914 -0.145084
2013-01-04 -1.102667  0.724858 -0.651263 -1.089503
2013-01-02 -1.166804  1.024411 -0.758624 -0.553318
2013-01-06  1.123612  1.698617 -0.352294 -1.087770