In [3]:
import pandas as pd

### Download the data and load it to Pandas. 

You can find them [here](https://drive.google.com/file/d/1NY6cmF9Shjw-dD7BD6bNmfcIVz-kQcFR/view?usp=sharing).

In [4]:
cast = pd.read_csv('cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [5]:
release_dates = pd.read_csv('release_dates.csv', index_col=None,
                            parse_dates=['date'], infer_datetime_format=True)
release_dates.head()

                    title  year      country       date
0   #73, Shaanthi Nivaasa  2007        India 2007-06-15
1                 #Beings  2015      Romania 2015-01-29
2               #Declimax  2018  Netherlands 2018-01-21
3  #Ewankosau saranghaeyo  2015  Philippines 2015-01-21
4                 #Horror  2015          USA 2015-11-20

In [6]:
type(release_dates["date"][0])

pandas._libs.tslibs.timestamps.Timestamp

### Count the number of movies with "Christmas" in their title for each month, that is released are the USA.

In [5]:
christmas = release_dates[release_dates["title"].str.contains("Christmas")]
usachristmas = christmas[christmas["country"]=="USA"]
usachristmas["date"]

1191     2014-11-28
1192     2012-10-09
5904     2014-11-04
6163     2011-04-02
6272     1938-12-16
            ...
383807   1993-10-29
395219   2013-12-20
408785   2007-11-21
437275   2012-12-01
439068   1954-10-14
Name: date, Length: 111, dtype: datetime64[ns]

In [6]:
christmas2 = christmas.copy() # MESS WITH THIS

In [18]:
christmas2["date"].groupby().count()

KeyError: 'M'

### Count the number of movies with "Christmas" in their title for each month, that are released in Canada.

In [15]:
christmas = release_dates[release_dates["title"].str.contains("Christmas")]
christmas

                                           title  year      country       date
1191                    12 Dog Days of Christmas  2014          USA 2014-11-28
1192    12 Dogs of Christmas: Great Puppy Rescue  2012          USA 2012-10-09
5904                       A Belle for Christmas  2014          USA 2014-11-04
5905                       A Belle for Christmas  2014       France 2014-12-26
6126                     A Bulldog for Christmas  2013           UK 2014-11-03
...                                          ...   ...          ...        ...
439081                           White Christmas  1954  Netherlands 1954-12-24
439082                           White Christmas  1954     Portugal 1954-12-29
439083                           White Christmas  1954    Hong Kong 1955-01-13
439084                           White Christmas  1954      Denmark 1955-04-29
439085                           White Christmas  1954    Argentina 1956-04-27

[676 rows x 4 columns]

In [37]:
import datetime as dt
christmas['date'].groupby([christmas["date"].dt.month]).count() # OMG

date
1      14
2       8
3       4
4       6
5      10
6       8
7       4
8       7
9       8
10     24
11    189
12    394
Name: date, dtype: int64

### Count the number of movies in which the titles start with "The Hobbit" for each month, that are released in the USA.

In [45]:
thehobbit = release_dates[release_dates["title"].str.contains("The Hobbit")]
thehobbitUSA = thehobbit[thehobbit["country"].str.contains("USA")]
thehobbit.sort_values(by=["country"]).tail(20)

,title,year,country,date
367009,The Hobbit: The Desolation of Smaug,2013,Turkey,2013-12-13
366875,The Hobbit: An Unexpected Journey,2012,Turkey,2012-12-14
367010,The Hobbit: The Desolation of Smaug,2013,UK,2013-12-13
366861,The Hobbit: An Unexpected Journey,2012,UK,2012-12-13
366929,The Hobbit: The Battle of the Five Armies,2014,UK,2014-12-12
366941,The Hobbit: The Battle of the Five Armies,2014,USA,2014-12-17
367011,The Hobbit: The Desolation of Smaug,2013,USA,2013-12-13
366876,The Hobbit: An Unexpected Journey,2012,USA,2012-12-14
367014,The Hobbit: The Desolation of Smaug,2013,Ukraine,2013-12-18
366883,The Hobbit: An Unexpected Journey,2012,Ukraine,2012-12-20
366942,The Hobbit: The Battle of the Five Armies,2014,Ukraine,2014-12-17
366862,The Hobbit: An Unexpected Journey,2012,United Arab Emirates,2012-12-13
366877,The Hobbit: An Unexpected Journey,2012,Uruguay,2012-12-14
367020,The Hobbit: The Desolation of Smaug,2013,Uruguay,2013-12-19
366962,The Hobbit: The Battle of the Five Armies,2014,Uruguay,2015-01-01
366878,The Hobbit: An Unexpected Journey,2012,Venezuela,2012-12-14
367012,The Hobbit: The Desolation of Smaug,2013,Venezuela,2013-12-13
367027,The Hobbit: The Desolation of Smaug,2013,Vietnam,2014-01-03
366888,The Hobbit: An Unexpected Journey,2012,Vietnam,2012-12-28
366955,The Hobbit: The Battle of the Five Armies,2014,Vietnam,2014-12-19

### Count the number of movies with "Romance" in their title for **each day of the week**, that are released in the USA.

### Count the number of movies with "Action" in their title for **each day of the week**, that are released in the USA.

### On which date was each Judi Dench movie from the 1990s released in the USA?

### In which months do films with the actress Judi Dench tend to be released in the USA?

### In which months do films with the actor Tom Cruise tend to be released in the USA?